.wp-block-media-text {
    display: flex;
}

.conf_bg_blue {
    background-image: url(img/bg_conf_blue.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    color: #fff;
}
/* backround planning */
.conf_bg_blue_2 {
    background-color: #1D1D39;
    color: #fff;
    display: flex;
    justify-content: center;
}
/* Titre programme */
.conf_bg_blue_2 h2{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 25px;
    font-size: 30px;
    font-weight: 600;
}
.wp-image-173{
    margin-bottom: 30px;
}
.conf_bg_white_1 {
    background-image: url(img/bg_conf_white_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.conf_bg_white_2 {
    background-image: url(img/bg_conf_white_2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.conf_content {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 40px;
    max-width: 1200px;
}

.conf_bg_blue .wp-block-media-text__content :nth-child(1) {
    color: #B8DBD9;
}

.wp-block-media-text__content :nth-child(1) {
    margin-bottom: 15px;
    color: #EA581C;
    font-weight: 600;
}

.conf_speakers {
    max-width: 1200px;
    margin: auto;

    .wp-block-group__inner-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
}

div .conf_speakers_solo_line {
    margin-bottom: 2vh;
}

.conf_speakers_first-line {

    width: 100%;
    margin-top: 5vh;
    margin-bottom: 8vh;

    .wp-block-group__inner-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        figure {
            width: 117px;
            height: 120px;
        }
    }
}

.wp-block-media-text .alignwide .is-stacked-on-mobile {
    display: flex;
}

.conf_speakers_second-line {

    width: 100%;
    margin-bottom: 3vh;

    .wp-block-group__inner-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        figure {
            width: 117px;
            height: 120px;
        }
    }
}

