.hack_group_text {
    display: flex;
    justify-content: center;
}

.hack_text{
    padding-top: 50px;
    max-width: 1000px;
}

.button_inscription {

    padding-top: 25px;
    a{
        width: 220px;
        height: 55px;
    }
    
}
.hack_bg_white {
    background-image: url(img/bg_hack_white.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.hack_bg_blue{
    background-color: #1D1D39;
    color: #fff;
    display: flex;
    justify-content: center;
}
.hack_bg_blue h2{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 25px;
    font-size: 30px;
    font-weight: 600;
}