/************************************************* PAGE HACKATHON *********************************************/ 

.hack_text{
 
    padding-top: 50px;
    
    display: flex;
    justify-content: center;
}
.hack_text2 {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.button_inscription {

    padding-top: 25px;
    a{
        width: 220px;
        height: 55px;
    }
    
}