.hack_group_text {
    display: flex;
    justify-content: center;
}

.hack_text{
    padding-top: 50px;
    max-width: 1000px;
}
.hack_text2 {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.button_inscription {

    padding-top: 25px;
    a{
        width: 220px;
        height: 55px;
    }
    
}