#nf-form-title-2{
    display: flex;
    justify-content: center;
    padding-top: 60px;
  
    color: white;
    font-weight: 600;
    font-size: 30px;
    padding-bottom: 60px;
}

#nf-field-9-container{
    margin-left: 2.564102564102564%;
}

div nf-section .nf-before-form-content{
    display: none;
}
#nf-form-2-cont{
    background-image: url(img/bg_inscription.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

div form :nth-child(1) {
    display: flex;
    flex-direction: column;
 
    
}

div .nf-field-element :nth-child(1) {
    display: flex;
    flex-direction: row;
    
}

#nf-label-class-field-13-0{
    padding-right: 25px;
}

.nf-label-class-field-13-1 {
    padding-left: 15px;
}

#nf-label-class-field-14-0{
    padding-right: 25px;
}
.nf-label-class-field-14-1{
    padding-left: 15px;
}
/* etoile je m'inscrit */ 
#nf-label-field-13{
    display: flex;
    flex-direction: row;
    color: white;
    padding-left: 30px;
}
/* etoile je suis... */ 
#nf-label-field-14{
    display: flex;
    flex-direction: row;
    color: white;
    padding-left: 30px;
}
/* section nom */
#nf-field-8{
    border-radius: 35px;
    width: 531px;
    height: 60px;
    border-color: white;
}
/* carre rouge*/

#nf-field-13-wrap .nf-field-element:after {
    left: 600px;
    top: 7px;
}
#nf-field-14-wrap .nf-field-element:after {
    left: 600px;
    top: 7px;
}
/* style du round */ 
.listradio-wrap .nf-field-element #nf-label-class-field-13-0:before{
    background: #EA581C;
}
.listradio-wrap .nf-field-element #nf-label-class-field-13-1:before{
    background: #EA581C;
}
.listradio-wrap .nf-field-element #nf-label-class-field-14-0:before{
    background: #EA581C;
}
.listradio-wrap .nf-field-element #nf-label-class-field-14-1:before{
    background: #EA581C;
}

/* cercle style */ 
.listradio-wrap .nf-field-element #nf-label-class-field-13-0:after {
    border-color: #EA581C;
}
.listradio-wrap .nf-field-element #nf-label-class-field-13-1:after {
    border-color: #EA581C;
}
.listradio-wrap .nf-field-element #nf-label-class-field-14-0:after {
    border-color: #EA581C;
}
.listradio-wrap .nf-field-element #nf-label-class-field-14-1:after {
    border-color: #EA581C;
}
/* validation*/
#nf-field-8-wrap .nf-field-element:after{
    left: 560px;
    top: 7px;
}
#nf-field-18-wrap .nf-field-element:after{
    left: 560px;
    top: 7px;
}
#nf-field-9-wrap .nf-field-element:after{
    left: 560px;
    top: 7px;
}
#nf-field-10-wrap .nf-field-element:after{
    left: 560px;
    top: 7px;
}


/* etoile + nom*/
#nf-label-field-8{
    display: flex;
    flex-direction: row;
    color: white;
}
/*section prenom*/
#nf-field-18{
    border-radius: 35px;
    width: 531px;
    height: 60px;
    border-color: white;
}
/* etoile + prenom*/
#nf-label-field-18{
    display: flex;
    flex-direction: row;
    color: white;
}
/*section mail*/
#nf-field-9{
    border-radius: 35px;
    width: 531px;
    height: 60px;
    border-color: white;
}
/* etoile + mail*/
#nf-label-field-9{
    display: flex;
    flex-direction: row;
    color: white;
}
/*section numero*/
#nf-field-10{
    border-radius: 35px;
    width: 531px;
    height: 60px;
    border-color: white;
}
/* etoile + numero*/
#nf-label-field-10{
    display: flex;
    flex-direction: row;
    color: white;
 
}
/* button*/
#nf-field-17{
    display: flex;
    justify-content: center;
    border-radius: 35px;
    width: 168px;
    height: 59px;
    background: #EA581C;
}

.nf-form-fields-required{
    display: none !important;
}
/* conf */ 
#nf-label-class-field-13-0{
    border-radius: 35px;
    background: white;
    width: 256px;
    height: 61px;
    display: flex;
    justify-content: center;
    padding-top: 18px;
    
}
#nf-field-13-wrap .nf-field-element  label:after {
    top: 1.0499999999999998em;
    left: 24px;  
}

/* petit round quand on selectionne*/
.listradio-wrap .nf-field-element #nf-label-class-field-13-0:before{
    left: 28px;
    top: 1.26em;
}
.listradio-wrap .nf-field-element #nf-label-class-field-13-1:before{
    left: 28px;
    top: 1.26em;
}

.listradio-wrap .nf-field-element #nf-label-class-field-14-0:before{
    left: 28px;
    top: 1.26em;
}
.listradio-wrap .nf-field-element #nf-label-class-field-14-1:before{
    left: 28px;
    top: 1.26em;
}
/* hacka*/
#nf-label-class-field-13-1{
    border-radius: 35px;
    background: white;
    width: 256px;
    height: 61px;
    display: flex;
    justify-content: center;
    padding-top: 18px;
}
/*étudiant*/
#nf-label-class-field-14-0{
    border-radius: 35px;
    background: white;
    width: 256px;
    height: 61px;
    display: flex;
    justify-content: center;
    padding-top: 18px;
}
/*professionel*/
#nf-label-class-field-14-1{
    border-radius: 35px;
    background: white;
    width: 256px;
    height: 61px;
    display: flex;
    justify-content: center;
    padding-top: 18px;
}
#nf-field-14-wrap .nf-field-element  label:after {
    top: 1.0499999999999998em;
    left: 24px;  
}

#nf-field-13-wrap{
    padding-left: 18px;
}

#nf-field-13-container{
    width: 80%;
}
#nf-field-14-container{
    width: 80%;
}
#nf-field-8-container{
    width: 80%;
}
#nf-field-9-container{
    width: 80%;
}
#nf-field-10-container{
    width: 80%;
}
#nf-field-18-container{
    width: 80%;
}
#nf-field-17-container{
    width: 80%;
}
.nf-form-content :nth-child(1){
    align-items: center;
}