/* IMG */
/* photo home et conf */
.wp-block-media-text__media .wp-image-78 {
    width: 402px;
    height: 256px;
    object-fit: cover;
  
}
.wp-block-media-text__media .wp-image-77 {
    width: 402px;
    height: 256px;
    object-fit: cover;
  
}
/* lieu photo home*/
.wp-block-media-text__media .wp-image-47 {
    width: 72px;
    height: 108px; 
    object-fit: cover; 
}

/* photo conf */ 
.wp-block-media-text__media .wp-image-98{
    border-radius: 50%;
    width: 117px;
    height: 120px;
    object-fit: cover;
}
/* img et texte header*/ 
.wp-image-69{
    width: 345px;
    height: 115px;
    object-fit: cover;
    
}
/* hackthon */ 
.wp-block-image .wp-image-77 {
    width: 1078px;
    height: 486px;
    object-fit: cover;
}
/* buttons */ 
.wp-block-buttons{
    display: flex;
    justify-content: center;
}

/************************************************* PAGE HOME *********************************************/ 

.home_title{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    
    h1{
        font-weight: 600;
    }
    p{
        max-width: 600px;
       
    }
}

.home_infos{
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

.home_resume{
    background-image: url(img/bg_home_resume.jpg);
    object-fit: cover;
    h2{
        color: white;
    }
    p{
        color: white;
        max-width: 400px;
    }
}

.home_questions {
    height: 669px;

    h2 {
        padding-left: 20vw;
        font-weight: 600;
        margin-top: 150px;
        margin-bottom: 50px;
    }

    &_texte {
        margin-left: 27vw;
        max-width: 800px;

        p {
            padding-left: 8%;
        }

        h3 strong{
            font-weight: 600;
        }
    }
}