
/* photo home et conf */
.wp-block-media-text__media .wp-image-78 {
    width: 402px;
    height: 256px;
    object-fit: cover;
  
}
.wp-block-media-text__media .wp-image-77 {
    width: 402px;
    height: 256px;
    object-fit: cover;
  
}
/* lieu photo home*/
.wp-block-media-text__media .wp-image-47 {
    width: 72px;
    height: 108px; 
    object-fit: cover; 
}

/* photo conf */ 
.wp-block-media-text__media .wp-image-98{
    border-radius: 50%;
    width: 117px;
    height: 120px;
    object-fit: cover;
}
/* img et texte header*/ 
.wp-image-69{
    width: 345px;
    height: 115px;
    object-fit: cover;
    
}
/* hackthon */ 
.wp-block-image .wp-image-77 {
    width: 1078px;
    height: 486px;
    object-fit: cover;
}

