/* IMG */
/* photo home et conf */
.wp-block-media-text__media .wp-image-78 {
    width: 402px;
    height: 256px;
    object-fit: cover;
  
}
.wp-block-media-text__media .wp-image-77 {
    width: 402px;
    height: 256px;
    object-fit: cover;
  
}
/* lieu photo home*/
.wp-block-media-text__media .wp-image-47 {
    width: 72px;
    height: 108px; 
    object-fit: cover; 
}

/* photo conf */ 
.wp-block-media-text__media .wp-image-98{
    border-radius: 50%;
    width: 117px;
    height: 120px;
    object-fit: cover;
}
/* img et texte header*/ 
.wp-image-69{
    width: 345px;
    height: 115px;
    object-fit: cover;
    
}
/* hackthon */ 
.wp-block-image .wp-image-77 {
    width: 1078px;
    height: 486px;
    object-fit: cover;
}
/* buttons */ 
.wp-block-buttons{
    display: flex;
    justify-content: center;
}

/************************************************* PAGE HOME *********************************************/ 

.home_title{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    
    h1{
        font-weight: 600;
    }
    p{
        max-width: 600px;
    }
}

.home_infos{
    display: flex;
    justify-content: center;
    padding-bottom: 100px;

    h3 strong{
        font-weight: 600;
    }
}

.home_resume{
    background-image: url(img/bg_home_resume.jpg);
    width: 100%;
    height: 762px;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 60px;

    h2{
        color: white;
    }
    p{
        color: white;
        max-width: 400px;
    }
}

.home_questions {
    background-image: url(img/bg_home_questions.jpg);
    width: 100%;
    height: 88vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    h2 {
        padding-left: 20vw;
        font-weight: 600;
        padding-top: 150px;
        padding-bottom: 50px;
        margin: 0;
    }

    &_texte {
        margin-left: 27vw;
        max-width: 800px;

        p {
            padding-left: 8%;
        }

        h3 strong{
            font-weight: 600;
        }
    }
}


.home_conf{
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
}

.home_hack{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}

.home_lieu{
    display: flex;
    margin-left: 20vw;

    p{
        padding-right: 14vw;
    }
}
.wp-block-media-text .wp-block-media-text__content {
    padding: 0 3vw;
}

.home_iim{
    padding-top: 60px;

    p{
        margin-left: 25vw;
        max-width: 45%; 
    }
}