.main-navigation {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 80px;
	background-color: #1D1D39;
	align-items: center;
	border-bottom: 2px solid #EA581C;

.custom-logo-link img{
	width: 60px;
	height: 46px;
	
}

	ul {
		list-style: none;
		margin: 0;
		display: flex;
		justify-content:space-around;
		max-width: 30%;
		margin-right: 80px;
		font-weight: 300;

			li {
				

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				margin-left: 25px;
				color: white;
				font-size: 20px;
			}
	}

	li {
		position: relative;
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

.site-branding{
	width: 60px;
	height: 46px;
	margin-left: 220px;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}
